.modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 250px;
  max-width: 2500px;
  margin: 1rem;
  padding: 2rem;
  background: #ffffff;
  border-radius: 8px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-daftar-pemilik-resto-hidden,
.form-daftar-resto-hidden {
  display: none;
}

.form > label {
  font-size: 20px;
}

.form > input,
.biodata > input {
  border-radius: 5px;
  width: 98%;
  border: 1px solid;
  height: 25px;
  margin-bottom: 20px;
}

textarea {
  resize: none;
  border-radius: 5px;
  margin-bottom: 20px;
}

.form > button {
  align-self: flex-end;
}

.form > a {
  font-size: 14px;
  color: black;
  font-weight: 300;
}
