.search {
    height: 40px;
    background: #fff;
    padding-left: 10px;
}

.text{
    border:none;
    background: none;
    outline: none;
    float: left;
    padding:0;
    font-size:16px;
    line-height: 40px;
    width: 350px;
}