.header-container {
    background-image: url(../../asssets/cover-mainpage.jpg);
    height: 350px;
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px;
}

.cities-searchbar-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.username-auth {
    text-align: right;
}

.auth {
    margin-right: 25px;
}

.username {
    margin-right: 50px;
}

img {
    height: 200px;
    width: 200px;
}

span {
    color: white;
}
