.App {
  text-align: center;
}

.rekomendasi {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 130px;
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}

p {
  margin: 0px;
  font-size: 40px;
  font-weight: 500;
}
